@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

body{
    font-family: 'Barlow', sans-serif;
}
.container{
    max-width: 600px;
    margin:auto;
}
.fuild-container{
    padding-left: 1rem;
    padding-right: 1rem;
}