@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

:root{
     --primary-color: #14b8a6;/*#3568CD; */
     --primary-link: #2dd4bf;
     --secondary-link: #ccfbf1;
    --gray-color : #404040;
    --off-white-color : #f4f4f5;
    --blogpost-header : #f0fdfa;
}

body{
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}

/* containers*/

.container{
    width: 60%;
    margin:auto;
}
.fuild-container{
    padding-left: 1rem;
    padding-right: 1rem;
}

/*links*/
.link{
    font-weight: 500;
    color: var(--gray-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px var(--primary-color) solid;
}

.primary-link{
    background-color: var(--primary-color);
    color:white;
}

/*Lists*/
.non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/*Nav*/

.navigation{
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 2rem;
}
.nav-link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: white;
}
.navigation ul{
    text-align: right;

}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .link-active{
    font-weight: bold;
}

/*Header*/

.hero{
    padding: 2rem 0rem;
}
.hero .hero-img{
    max-width: 400px;
    margin: auto;
    display: block;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--gray-color);
}
.hero .hero-heading .hero-heading-span{
    color: var(--primary-color);
}

/*section*/
.no-padding{
    padding-left: 0rem;
}
.section{
    padding: 2rem;
    margin: 1rem 0rem;

}
.section h1 {
    text-align: left;
}

.ow-section {
    background-color: var(--off-white-color);

}

/*footer*/
.footer {
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
    text-align: center;
    border-top-right-radius: 2rem;

}
.footer-heading {
    font-size: large;
    font-weight: bold;
    margin-left: 2rem;
}
.footer .non-bullet {
    margin-left: 0%;
}
.footer .list-inline {
    margin-left: 0%;
}

/*blog*/

.blog-section h1 {
    text-align: left;
    padding-bottom: 0%;
}
small {
    font-size :x-small;
}

/*blogpost*/
.blogpost-section{

    background-color: var(--blogpost-header);
    padding: 2rem 0rem;
    border-bottom-left-radius: 2rem;

}
.blogpost-section  p, small {
    padding: 0rem;
    margin: 0%;
}
.blogpost-header-container a {
   float: right;
}
.blogpost-container{
    padding: 2rem 0rem;
}
.blogpost-section-body{
    max-width: 800px;
    margin: auto;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}